* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.mega-conteiner {
    width:100% ;
    height:836px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 100px;
}

.title {
    display: flex;
    width: 460px;
    height: 700px;
    justify-content: center;
    align-items: center;
    border: 3px solid;

}
.line {
    display: flex;
    width:3px ;
    height: 700px ;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.block3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media all and (max-width: 900px) {
    .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1000px;
        gap: 100px;
    }
    .line {
        display: none;
        width:3px ;
        height: 700px ;
        background-color: black;
        justify-content: center;
        align-items: center;
    }
}

.mybiography {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
} 
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.button1 {
    display: flex;
    width:100px ;
    height: 30px;
    border:1px  solid;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
}
.button1:hover {
    display: flex;
    width:100px ;
    height: 30px;
    border:1px  solid;
    text-decoration: none;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.button2 {
    display: flex;
    width: 100px;
    height: 30px;
    border: 1px solid;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
}
.button2:hover {
    display: flex;
    width:100px ;
    height: 30px;
    border:1px  solid;
    text-decoration: none;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.my-projects {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.tekst {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.photo {
    width: 395px;
    height: 400px;
    border: 1px solid;
    background-color:#842593;
}
.box2 {
    display: flex;
    width: 395px;
    height: 100px;
    background-color: black;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    width: 120px;
    height:30px ;
}
.button3:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 120px;
    height:30px ;
}
.box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 3px solid;
}
.plus {
    width: 400px;
    height: 500px;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media all and (max-width: 950px) {
    .partfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 150px;
    }
}
.paper {
    width: 100%;
    height: 2300px;
    background-color: black;
}
.menu {
  width: 100%;
  height: 100px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
    color: gold;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
}

    #menu__toggle {
        opacity: 0;
      }

      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }
.line1 {
  width: 100%;
  height: 20px;
  background-color: black;
}
.lines {
  width: 100%;
  height: 7px;
  background-color: cadetblue;
  gap: 20px;
}
.information {
    width: 100%;
    height: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pi1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1005px;
    height: 505px;
    border: 3px solid white;
}

.photo1 {
    width: 500px;
    height: 500px;
    background-color: white;
}
.picture {
  background-image: url("Frame 1 (3).png");
  width: 1000px;
  height: 500px;
}

.teex {
  width: 2000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  color: white;
}

.info1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    height: 500px;
    color: white;
    gap: 20px;
}
.pi2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1005px;
    height: 500px;
}
.photo2 {
    width: 400px;
    height: 1000px;
}
.info2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    height: 500px;
    background-color: white;
    border: 1px solid;
}
.pi3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.photo3 {
    width: 743px;
    height: 500px;
    background-color: white;
    border: 1px solid;
}
.info3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 257px;
    height: 500px;
    background-color: #0b3669;
    border: 1px solid;
}
.nectar {
  color: white;
}
.pi4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid white;
}
.photo4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 800px;
  height: 400px;
}
.info4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  height: 400px;
}


